div.hidden {
  display: none;
}

div.active {
  margin: auto;
  padding: auto;
  border: 5px solid red;
}

img.bigcoin {
  width: 50px;
}

img.smallcoin {
  width: 50px;
}

ul {
  margin: 0; padding: 0; 
   list-style-type: none; list-style-image: none;
}
li 
{
    display:inline;
}
